# lockfiles
package-lock.json
yarn.lock

# temp stuff
tmp/
*.tmp
*.bak

# logs
*.stackdump
*.log

# Build
node_modules/
build.json
package.json

# Dolphin
.dolphin
.desktop

# Exercism
.eslintrc
.exercism/
metadata.json
